@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #004643;
}

h1 {
	font-size: 92px;
	font-family: "Playfair Display";
}

h3 {
	font-size: 39px;
	font-family: "Lato";
}

.name {
	color: #f9bc60;
	font-weight: 500;
}

.helloTitle {
	color: #fffffe;
	font-weight: 300;
}

.myDescription {
	color: #abd1c6;
}

.contactMe {
	background-color: #fffffe;
	color: #f9bc60;
}

.contactMe:hover {
	background-color: #abd1c6;
}
